.rmdp-calendar {
  font-family: "Vazirmatn";
  font-size: 16px;
  color: #333;
}

.rmdp-header {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 8px;
}

.rmdp-weekday {
  color: #555;
  font-weight: 500;
}

.rmdp-day {
  width: 33px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 8px;
  font-size: 16px;
  color: #000000;
}

.rmdp-day.rmdp-selected {
  background-color: #0070f3;
  color: #fff;
}
