.container p {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text);
}

.container h1 {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-text);
  margin-top: -10px;
}

.container {
  text-align: center;
  min-height: 100vh;
  margin-top: 60px;
}

@media (min-width: 768px) {
  .container img {
    width: 440px;
    height: 440px;
  }

  .container p {
    font-size: 20px;
  }

  .container h1 {
    font-size: 28px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    align-items: center;
    flex-direction: row-reverse;
  }

  .container img {
    width: 550px;
    height: 550px;
  }

  .container h1 {
    font-size: 36px;
  }

  .container p {
    font-size: 24px;
  }
}
