.container {
  max-width: 390px;
  margin: 0 auto 45px;
  padding: 0 1rem 0 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hiddenInput {
  width: 0;
  height: 0;
  opacity: 0;
  border: none;
  padding: 0;
  margin: 0;
  visibility: hidden;
}

.topinput {
  display: flex;
  gap: 20px;
  margin-bottom: 14px;
}

.topinput input {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #00000026;
  text-align: center;
  outline: none;
  font-family: "Vazir";
  font-size: 16px;
  color: #00000080;
  padding-right: 14px;
  box-sizing: border-box;
}

.topinput label {
  position: relative;
  flex: 1;
}

.topinput img {
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.topinput label:nth-child(1) img {
  right: 30%;
}

.label {
  position: relative;
  display: flex;
  font-size: 14px;
  color: #333;
  text-align: center;
  width: 100%;
}

.pickerContainer {
  position: relative;
  width: 100%;
}

.inputLike {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  border: 1px solid #00000026;
  font-size: 15px;
  cursor: pointer;
}

.searchBtn {
  width: 100%;
  height: 47px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 16px;
  font-family: "Vazir";
  font-weight: 400;
  font-size: 20px;
  margin-top: 15px;
  transition: 0.2s all ease-in;
}

.searchBtn:hover {
  background: #6eff9e;
  color: #fff;
}

.searchBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.select {
  width: 100%;
  box-sizing: border-box;
}

.text {
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
}

.text p {
  font-family: "Vazir";
  font-weight: 600;
  font-size: 16px;
  color: #595959;
}

.text span {
  font-family: "Vazir";
  font-weight: 600;
  font-size: 16px;
  color: #28a745;
}

.cityDropdown {
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
  border: 1px solid #00000033;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 20;
  animation: fadeIn 0.2s ease;
}

.cityHeader {
  font-family: "Vazir";
  font-weight: 300;
  font-size: 13px;
  text-align: right;
  padding: 5px 5px;
  color: #282828b2;
}

.cityList {
  display: flex;
  flex-direction: column;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
}

.cityItem {
  font-family: "Vazir";
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
  text-align: right;
  border: none;
  border-bottom: 1px solid #0000001f;
  padding: 10px 14px;
  cursor: pointer;
  color: #282828;
  transition: background 0.2s ease;
}

.cityItem img {
  position: static;
  flex-shrink: 0;
  margin-top: 17px;
}

.dateInput {
  border: 1px solid #00000026;
  border-radius: 12px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  background-color: #fff;
}

.dateInput span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-family: "Vazir";
  font-weight: 400;
  font-size: 16px;
  color: #00000080;
}

.placeholder {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Vazir";
  font-weight: 400;
  font-size: 16px;
  color: #00000080;
  gap: 6px;
}

.error {
  color: #ff3b3b;
  font-size: 10px;
  margin-top: 4px;
  width: 100%;
  font-family: "Vazir";
  text-align: right;
  position: absolute;
  bottom: -30px;
  left: 0;
}

@media (min-width: 391px) {
  .container {
    max-width: 720px;
    padding: 0 2rem 0 2rem;
    margin: 0 auto 60px;
  }
  .text p {
    font-size: 15px;
  }

  .text span {
    font-size: 15px;
  }

  .topinput input {
    height: 44px;
    font-size: 17px;
  }

  .topinput img {
    right: 27%;
  }

  .topinput label:nth-child(1) img {
    right: 32%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 800px;
    margin: 0 auto 80px;
    padding: 0 3rem;
  }

  .text p {
    font-size: 22px;
  }

  .text span {
    font-size: 22px;
  }

  .form {
    width: 380px;
    margin: 0 auto;
    gap: 14px;
  }

  .topinput {
    gap: 25px;
  }

  .topinput input {
    height: 46px;
    font-size: 17px;
  }

  .topinput img {
    right: 40px;
  }

  .dateInput {
    width: 80%;
    margin: 0 auto;
  }

  .searchBtn {
    width: 55%;
    margin: 15px auto 0;
    height: 50px;
    font-size: 20px;
  }

  .cityDropdown {
    max-height: 180px;
  }

  .topinput img {
    right: 30%;
  }

  .topinput label:nth-child(1) img {
    right: 35%;
  }
}

@media (min-width: 992px) {
  .select {
    max-width: 1200px;
    margin: 0 auto;
  }

  .form {
    width: 700px;
    margin: 0 auto;
  }

  .searchBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #ffffff70;
    border: 1px solid #00000026;
    box-sizing: border-box;
    padding: 5px;
  }

  .topinput {
    direction: rtl;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
  }

  .topinput .label {
    flex: 1 1 40%;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 8px 10px 0px;
    direction: rtl;
  }

  .topinput .label img {
    order: 2;
  }

  .topinput .label input {
    order: 1;
    margin-right: 23px;
    text-align: right;
  }

  .topinput input,
  .topinput input::placeholder {
    border: none !important;
    background: transparent;
    text-align: right;
    padding: 0;
    height: auto;
    font-size: 16px;
    color: #2c2c2c;
    outline: none;
  }

  .topinput .label + .label {
    border-right: 1px solid #00000033;
  }

  .placeholder {
    margin-right: 4px;
  }

  .topinput .label:nth-child(2) img {
    right: 10px;
  }

  .topinput .label:nth-child(1) img {
    right: 10px;
  }

  .dateInput {
    flex: 1 1 20%;
    min-width: 200px;
    padding: 8px 12px;
    border: none;
    border-right: 1px solid #00000033;
    box-sizing: border-box;
    text-align: right;
    border-radius: 0;
    background: transparent;
    direction: rtl;
    display: flex;
    justify-content: flex-start;
  }

  .dateInput span {
    display: block;
    width: 100%;
    text-align: right;
    color: #2c2c2c;
  }

  .searchBtn {
    width: 20%;
    margin: 0;
    border-radius: 16px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    flex-shrink: 0;
    background-color: #28a745;
    color: #fff;
  }

  .error {
    position: absolute;
    top: 50px;
    right: 15px;
    font-size: 11px;
  }

  .cityDropdown {
    top: 55px;
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
  }

  .text p {
    font-family: "Vazir";
    font-weight: 600;
    color: #595959;
    font-size: 28px;
  }

  .text span {
    font-family: "Vazir";
    font-weight: 600;
    font-size: 28px;
    color: #28a745;
  }

  .cityItem {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
