@media (max-width: 390px) {
  .webheader {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    align-items: center;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    z-index: 900;
  }

  .hamburger {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1000;
    padding: 30px 10px 0 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
  }

  .hamburger div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .hamburger div a {
    text-decoration: none;
    font-family: "Vazir";
    font-weight: 400;
    font-size: 16px;
    color: #282828;
  }

  .active {
    color: #28a745 !important;
  }
}

@media (min-width: 391px) and (max-width: 1920px) {
  .header {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .webheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0 15px;
  }

  .rightGroup {
    display: flex;
    align-items: center;
    gap: 3.3rem;
  }

  .rightGroup img {
    object-fit: contain;
    cursor: pointer;
  }

  .rightGroup ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
  }

  .rightGroup ul li a {
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: "Vazir";
    font-weight: 400;
    font-size: 16px;
    color: #282828;
  }

  .rightGroup ul li a:hover {
    color: #1ea34a;
  }

  .authbtn {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 2px solid #1ea34a;
    background: transparent;
    color: #1ea34a;
    font-size: 14px;
    font-weight: 600;
    padding: 0.4rem 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .authbtn:hover {
    background: #6eff9e;
    color: #fff;
  }

  .authbtn img {
    width: 20px;
    height: 20px;
  }

  .authbtn .divider {
    margin: 0 4px;
  }

  .headerwrapper {
    border-bottom: 1px solid #00000029;
    width: 100%;
    margin-top: 5px;
  }

  .link {
    text-decoration: none;
    color: var(--color-text);
    transition: color 0.3s;
    font-family: "Vazir";
    font-weight: 400;
    font-size: 16px;
  }

  .link:hover {
    color: #1ea34a;
  }

  .activeLink {
    color: #1ea34a;
  }
}
