.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  animation: fadeIn 0.3s ease;
  z-index: 10;
}

.modal {
  position: relative;
  background: #ffffff;
  border-radius: 20px;
  width: 280px;
  text-align: center;
  animation: popUp 0.3s ease;
}

.input-wrapper {
  min-height: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.closeBtn {
  position: absolute;
  top: 13px;
  left: 15px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.closeBtn:hover {
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
}

.modal h1 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 40px;
  color: #282828;
}

.inner {
  padding: 30px 30px 30px 30px;
}

.modal p {
  font-weight: 300;
  font-size: 16px;
  text-align: right;
  margin-right: 10px;
}

.modal input {
  width: 100%;
  border-radius: 6px;
  padding: 20px 5px;
  font-weight: 300;
  font-size: 15px;
  border: 1px solid #00000040;
}

.modal input:focus {
  outline: none;
  border-color: #166534;
}

.error {
  font-size: 12px !important;
  margin-top: 0.5rem;
  color: #e53e3e;
  text-align: right;
  margin-right: 10px;
}

.modal button {
  font-weight: 500;
  font-size: 18px;
  margin-top: 1.8rem;
  width: 100%;
  height: 3.4rem;
  border: 1px solid #166534;
  border-radius: 6px;
  background: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

.modal button:hover {
  background: #6eff9e;
  color: #fff;
}

.modal button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popUp {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 992px) {
  .overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(2px);
    animation: fadeIn 0.3s ease;
    z-index: 10;
  }

  .modal {
    position: relative;
    background: #ffffff;
    border-radius: 20px;
    width: 450px;
    margin-left: 10px;
    text-align: center;
    animation: popUp 0.3s ease;
  }

  .closeBtn {
    position: absolute;
    top: 13px;
    left: 15px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }

  .closeBtn:hover {
    opacity: 1;
  }

  .modal h1 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 30px;
    color: #282828;
  }

  .inner {
    padding: 30px;
  }

  .modal p {
    font-weight: 300;
    font-size: 16px;
    text-align: right;
    margin-right: 10px;
  }

  .modal input {
    width: 95%;
    border-radius: 6px;
    padding: 10px 6px;
    font-weight: 300;
    font-size: 15px;
    border: 1px solid #00000040;
  }

  .modal input:focus {
    outline: none;
    border-color: #166534;
  }

  .error {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #e53e3e;
    text-align: right;
  }

  .modal button {
    font-weight: 500;
    font-size: 18px;
    margin-top: 1.8rem;
    width: 98%;
    height: 3rem;
    border: 1px solid #166534;
    border-radius: 6px;
    background: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
  }

  .modal button:hover {
    background: #6eff9e;
    color: #fff;
  }

  .modal button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes popUp {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
