.card {
  width: 330px;
  margin: 0 auto;
  border: 1px solid #00000033;
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 20px;
}

.card h3 {
  font-family: "Vazir";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.topInput {
  display: flex;
  justify-content: space-between;
}

.editInfo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.editInfo p {
  font-family: "Vazir";
  font-weight: 400;
  font-size: 13px;
  color: #009eca;
}

.mainInfo {
  display: flex;
  flex-direction: column;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data p {
  font-family: "Vazir";
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}

.data span {
  font-family: "Vazir";
  font-weight: 400;
  font-size: 14px;
  color: #282828;
  display: inline-block;
  text-align: right;
}

.bold {
  font-family: "Vazir";
  font-weight: 600 !important;
  font-size: 14px;
  color: #282828;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dateInput {
  width: 275px;
  border: 1px solid #808080;
  outline: none;
  border-radius: 5px;
  appearance: none;
  background-color: #fff;
  font-family: "Vazir";
  font-weight: 400;
  font-size: 16px;
  color: #00000080;
  padding: 5px 5px;
  margin-bottom: 3px;
}

.dateInput span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Vazir";
  font-weight: 400;
  font-size: 16px;
  color: #00000080;
}

.placeholder {
  display: flex;
  align-items: center;
  font-family: "Vazir";
  font-weight: 400;
  font-size: 16px;
  gap: 4px;
  color: #00000080;
}

.form input {
  width: 95%;
  height: 35px;
  line-height: 40px;
  border: 1px solid #808080;
  outline: none;
  border-radius: 5px;
  appearance: none;
  background-color: #fff;
  font-family: "Vazir";
  font-weight: 400;
  font-size: 16px;
  color: #00000080;
  padding-right: 10px;
}

.genderBox {
  position: relative;
  width: 100%;
}

.genderInput {
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: "Vazir";
  font-weight: 400;
  font-size: 16px;
  color: #00000080;
}

.genderInput span {
  font-family: "Vazir";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 4px;
  z-index: 10;
}

.dropdown p {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  font-family: "Vazir";
  font-weight: 400;
  font-size: 16px;
  color: #00000080;
}

.dropdown p:hover {
  background: #f2f2f2;
}

.error {
  color: #e74c3c;
  font-family: "Vazir";
  font-weight: 400;
  font-size: 14px;
  text-align: right;
}

.selectBox img {
  position: absolute;
  left: 20px;
  top: 20px;
  pointer-events: none;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 0 0 15px 0;
}

.addBtn {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #28a745;
  color: #ffffff;
  font-family: "Vazir";
  font-weight: 600;
  font-size: 16px;
  transition: 0.2s all ease-in;
}
.cancleBtn {
  font-family: "Vazir";
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: #28a745;
  background-color: #ffffff;
  border: 2px solid #28a745;
  transition: 0.2s all ease-in;
}

.cancleBtn:hover {
  background-color: #28a745;
  color: #ffffff;
}

.addBtn:hover {
  background: #6eff9e;
  color: #fff;
}
