.container {
  width: 330px;
  max-width: 100%;
  margin: 0 auto 20px;
  border: 1px solid #00000033;
  border-radius: 10px;
  position: relative;
}

.end {
  position: absolute;
  display: inline-block;
  background-color: #28a7454d;
  color: #28a745;
  margin: 10px 8px;
  padding: 6px 12px;
  border-radius: 27px;
  left: 0;
  font-weight: 400;
  font-size: 6px;
}

.ongoing {
  position: absolute;
  display: inline-block;
  background-color: #d1b9004d;
  color: #d1b900;
  margin: 10px 8px;
  padding: 6px 12px;
  border-radius: 27px;
  left: 0;
  font-weight: 400;
  font-size: 6px;
}

.topMain {
  border-bottom: 1px solid #00000033;
  padding: 20px 20px 5px;
}

.divider {
  width: 1px;
  background-color: #00000033;
}

.tourName {
  display: flex;
  gap: 20px;
}

.tourName div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tourName div p {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}

.origindest {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.endDate h3 {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

.origindest h3 {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

.origindest,
.endDate p {
  font-weight: 400;
  font-size: 12px;
  color: #00000099;
}

.endDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomMain {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
}

.bottomMain div {
  display: flex;
  align-items: center;
}

.numTour p {
  font-weight: 600;
  font-size: 10px;
  color: #00000080;
}

.numTour span {
  font-weight: 500;
  font-size: 12px;
  color: #282828;
}

.numTour {
  gap: 13px;
}

.spend {
  font-weight: 600;
  font-size: 10px;
  color: #00000080;
}

.price {
  display: flex;
  gap: 3px;
}

.price p {
  font-weight: 300;
  font-size: 8px;
  color: #00000080;
}

.price span {
  font-weight: 500;
  font-size: 12px;
  color: #282828;
}

.bottomLeft {
  gap: 20px;
}

@media (min-width: 392px) {
  .container {
    width: 480px;
  }

  .ongoing,
  .end {
    font-size: 8px;
  }

  .tourName div p {
    font-size: 14px;
  }

  .endDate h3 {
    font-size: 16px;
  }

  .origindest h3 {
    font-size: 16px;
  }

  .origindest,
  .endDate p {
    font-size: 14px;
  }

  .numTour p {
    font-size: 14px;
  }

  .numTour span {
    font-size: 14px;
  }

  .spend {
    font-size: 13px;
  }

  .price p {
    font-size: 10px;
  }

  .price span {
    font-size: 14px;
    color: #000000;
  }
}

@media (min-width: 768px) {
  .container {
    width: 580px;
  }

  .ongoing,
  .end {
    font-size: 10px;
  }

  .tourName div p {
    font-size: 14px;
  }

  .endDate h3 {
    font-size: 16px;
  }

  .origindest h3 {
    font-size: 16px;
  }

  .origindest,
  .endDate p {
    font-size: 14px;
  }

  .numTour p {
    font-size: 14px;
  }

  .numTour span {
    font-size: 14px;
  }

  .spend {
    font-size: 13px;
  }

  .price p {
    font-size: 10px;
  }

  .price span {
    font-size: 14px;
    color: #000000;
  }
}

@media (min-width: 992px) {
  .containerWrapper {
    max-width: 800px;
    border: 1px solid #00000033;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .container {
    width: 100%;
  }

  .ongoing,
  .end {
    padding: 1px 12px;
    top: 4px;
    left: 4px;
  }

  .timeWrapper {
    display: flex;
    gap: 25px;
  }

  .timeWrapper div {
    display: flex;
    gap: 15px;
  }

  .timeWrapper div h3 {
    font-weight: 600;
    font-size: 14px;
    color: #000000;
  }

  .timeWrapper div p {
    font-weight: 400;
    font-size: 14px;
  }

  .topMain {
    padding: 0 15px 0 0;
  }

  .bottomMain {
    padding: 5px 15x;
    display: flex;
    justify-content: unset;
  }

  .tourName {
    gap: 170px;
  }

  .tourName img {
    width: 20px;
    height: 20px;
  }

  .bottomLeft {
    padding-right: 20px;
  }

  .numTour {
    padding-left: 20px;
  }
}
