.card {
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  border: 1px solid #00000033;
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 20px;
}

.header h3 {
  font-family: "Vazir";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone span {
  font-family: "Vazir";
  font-weight: 400;
  font-size: 14px;
  color: #282828;
}

.error {
  color: #e74c3c;
  font-family: "Vazir";
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  margin-top: 4px;
}

.phone p {
  font-family: "Vazir";
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}

.lowerInfo {
  display: flex;
  justify-content: space-between;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.email {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.email p {
  font-family: "Vazir";
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}

.email span {
  color: #282828;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.edit {
  display: flex;
  align-items: center;
  gap: 5px;
}

.edit p {
  font-family: "Vazir";
  font-weight: 400;
  font-size: 14px;
  color: #009eca;
}

.editInput {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px;
  gap: 10px;
  width: 100%;
  align-items: flex-start;
}

.inp {
  width: 100%;
  padding: 8px;
  font-family: "Vazir";
  font-weight: 400;
  font-size: 12px;
  color: #00000080;
  border-radius: 5px;
  border: 1px solid #00000080;
  outline: none;
}

.addBtn {
  width: 30%;
  padding: 5px 0;
  border: none;
  background-color: #28a745;
  border-radius: 5px;
  font-family: "Vazir";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  transition: 0.2s all ease-in;
}

.editInput button:hover {
  background: #6eff9e;
  color: #fff;
}

.topInput h3 {
  font-family: "Vazir";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.topInput {
  display: flex;
  justify-content: space-between;
}

.editInfo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.editInfo p {
  font-family: "Vazir";
  font-weight: 400;
  font-size: 13px;
  color: #009eca;
}

@media (min-width: 391px) {
  .card {
    max-width: 600px;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 1200px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .phone {
    gap: 30px;
    padding: 0 13px;
  }
  .lowerInfo {
    display: flex;
    gap: 100px;
  }

  .email {
    display: flex;
    align-items: center;
    gap: 70px;
  }

  .editInput {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 40%;
  }

  .error {
    position: absolute;
    bottom: -20px;
    right: 3px;
    font-size: 12px;
  }

  .inputWrapper {
    position: relative;
    flex: 1;
  }

  .inp {
    width: 200px;
  }

  .addBtn {
    width: 40%;
  }
}
