@media (max-width: 390px) {
  .cycle {
    display: none;
  }
  .lowertext {
    display: none;
  }

  .slider {
    position: relative;
    margin: 0 30px;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    overflow: visible;
  }

  .image {
    position: absolute;
    top: 50%;
    border-radius: 12px;
    transform: translateY(-50%);
    transition: all 0.5s ease;
  }

  .text {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    margin-right: 12px;
  }

  .text p {
    font-family: "Vazir";
    font-weight: 800;
    font-size: 24px;
    color: #28a745;
  }

  .firstimg {
    position: absolute;
    right: 12px;
  }

  .text span {
    font-family: "Vazir";
    font-weight: 800;
    font-size: 24px;
    color: #282828;
  }

  .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 45px;
    gap: 14px;
  }

  .counter p {
    font-family: "Vazir";
    font-weight: 500;
    font-size: 20px;
  }

  .counter button {
    border: none;
    background-color: #ffff;
  }

  .counter button:hover {
    transform: scale(1.2);
  }

  .sliderimg {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: visible;
  }

  .img1,
  .img2,
  .img3,
  .img4 {
    position: absolute;
    left: 50%;
  }

  .img1 {
    width: 255px;
    height: 284px;
    z-index: 4;
    right: 0;
    transform: translateY(-50%) scale(0.95);
  }
  .img2 {
    width: 253px;
    height: 247px;
    z-index: 3;
    right: 40px;
    transform: translateY(-50%) scale(0.9);
  }
  .img3 {
    width: 168px;
    height: 198px;
    z-index: 2;
    right: 80px;
    transform: translateX(-40%) translateY(-50%) scale(0.9);
  }
  .img4 {
    width: 142px;
    height: 162px;
    z-index: 1;
    right: 120px;
    transform: translateX(-50%) translateY(-50%) scale(0.85);
  }
}

@media (min-width: 391px) and (max-width: 1440px) {
  .zel {
    display: none;
  }
  .slider {
    width: 1200px;
    margin: 50px auto 0;
    display: flex;
  }

  .alltext {
    display: flex;
    flex-direction: column;
  }

  .allslider {
    display: flex;
    flex-direction: column;
    margin: 20px 80px;
  }
  .image {
    position: absolute;
    top: 50%;
    border-radius: 12px;
    transform: translateY(-50%);
    transition: all 0.5s ease;
  }

  .text {
    display: flex;
    align-items: center;
    gap: 9px;
    position: relative;
    margin-right: 12px;
  }

  .lowertext {
    margin-top: -35px;
    margin-right: 10px;
  }

  .lowertext h1 {
    font-family: "Vazir";
    font-weight: 500;
    font-size: 24px;
    color: #282828;
  }

  .lowertext p {
    display: block;
    width: 100%; 
    white-space: normal;
    word-wrap: break-word; 
    text-align: justify;
    font-family: "Vazir";
    font-weight: 400;
    font-size: 20px;
    color: #282828;
    line-height: 35px;
    word-spacing: 5px;
    width: 450px;
  }

  .text p {
    font-family: "IRANSans";
    font-weight: 800;
    font-size: 40px;
    color: #28a745;
  }

  .firstimg {
    position: absolute;
    right: 14px;
  }

  .text span {
    font-family: "Vazir";
    font-weight: 800;
    font-size: 40px;
    color: #282828;
  }

  .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 85px;
    margin-top: -20px;
    gap: 14px;
  }

  .counter p {
    font-family: "Vazir";
    font-weight: 500;
    font-size: 20px;
  }

  .counter button {
    border: none;
    background-color: #ffff;
  }

  .counter button:hover {
    transform: scale(1.2);
  }

  .sliderimg {
    position: relative;
    height: 400px;
    overflow: visible;
  }

  .img1,
  .img2,
  .img3,
  .img4 {
    position: absolute;
    left: 50%;
  }

  .img1 {
    width: 295px;
    height: 360px;
    z-index: 4;
    right: 0;
    transform: translateY(-50%) scale(0.95);
  }
  .img2 {
    width: 293px;
    height: 320px;
    z-index: 3;
    right: 40px;
    transform: translateY(-50%) scale(0.9);
  }
  .img3 {
    width: 200px;
    height: 270px;
    z-index: 2;
    right: 80px;
    transform: translateX(-40%) translateY(-50%) scale(0.9);
  }
  .img4 {
    width: 175px;
    height: 220px;
    z-index: 1;
    right: 120px;
    transform: translateX(-50%) translateY(-50%) scale(0.85);
  }
}
