.cycle {
  display: none;
}
.lowertext {
  display: none;
}

.slider {
  width: 100%;
  max-width: 327px;
  margin: 0 auto;
}

.image {
  position: absolute;
  top: 50%;
  border-radius: 12px;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}

.text {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  margin-right: 12px;
  margin-bottom: 10px;
}

.firstimg {
  position: absolute;
  right: 12px;
}

.text span {
  font-weight: 800;
  font-size: 24px;
  color: #282828;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin: 20px 0 0 50px;
}

.counter p {
  font-weight: 500;
  font-size: 20px;
}

.counter button {
  border: none;
  background-color: #ffff;
}

.counter button:hover {
  transform: scale(1.2);
}

.sliderimg {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: visible;
}

.img1,
.img2,
.img3,
.img4 {
  position: absolute;
  left: 50%;
}

.img1 {
  width: 265px;
  height: 284px;
  z-index: 4;
  right: 0;
  transform: translateY(-50%) scale(0.95);
}
.img2 {
  width: 253px;
  height: 247px;
  z-index: 3;
  right: 40px;
  transform: translateY(-50%) scale(0.9);
}
.img3 {
  width: 165px;
  height: 198px;
  z-index: 2;
  right: 80px;
  transform: translateX(-40%) translateY(-50%) scale(0.9);
}
.img4 {
  width: 142px;
  height: 162px;
  z-index: 1;
  right: 120px;
  transform: translateX(-50%) translateY(-50%) scale(0.85);
}

.firstimg {
  position: absolute;
}

.lowertext {
  margin-top: -35px;
  margin-right: 10px;
}

.lowertext h1 {
  font-weight: 500;
  font-size: 24px;
  color: #282828;
}

.lowertext p {
  display: block;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
  text-align: justify;
  font-weight: 400;
  font-size: 20px;
  color: #282828;
  line-height: 35px;
  word-spacing: 5px;
}

.text p {
  font-weight: 800;
  font-size: 24px;
  color: #28a745;
}

@media (min-width: 391px) {
  .cycle {
    display: block;
  }

  .zel {
    display: none;
  }

  .lowertext {
    display: block;
  }

  .slider {
    max-width: 730px;
    margin: 0 auto;
    padding: 0 1.5rem 0 1.5rem;
    overflow: visible;
    display: flex;
    gap: 10px;
  }

  .allslider {
    margin-top: 70px;
    width: 50%;
  }

  .alltext {
    width: 50%;
  }

  .firstimg {
    right: 14px;
  }

  .lowertext h1 {
    font-size: 20px;
  }

  .lowertext p {
    font-size: 12px;
    line-height: 35px;
    word-spacing: 5px;
  }

  .text p {
    font-weight: 800;
    font-size: 28px;
    color: #28a745;
  }
  .text span {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .slider {
    max-width: 990px;
    width: 100%;
    padding: 2rem 3rem 0 3rem;
    gap: 50px;
  }

  .allslider {
    margin-top: 70px;
    width: 50%;
  }

  .alltext {
    width: 50%;
  }

  .firstimg {
    right: 14px;
  }

  .lowertext h1 {
    font-size: 24px;
  }

  .lowertext p {
    font-size: 15px;
    line-height: 30px;
    word-spacing: 3px;
  }

  .text p {
    font-weight: 800;
    font-size: 30px;
    color: #28a745;
  }
  .text span {
    font-size: 30px;
  }

  .counter {
    margin-left: 100px;
  }
}

@media (min-width: 992px) {
  .lowertext {
    display: block;
  }
  .cycle {
    display: block;
  }

  .zel {
    display: none;
  }

  .firstimg {
    right: 15px;
    width: 14px;
    height: 25px;
  }

  .slider {
    max-width: 1200px;
    margin: 0 auto 0;
    display: flex;
    gap: 0;
    flex-direction: row;
  }

  .allslider {
    margin: 90px 60px;
    width: 30%;
  }
  .alltext {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

  .text {
    display: flex;
    align-items: center;
    gap: 9px;
    position: relative;
  }

  .lowertext h1 {
    font-size: 24px;
  }

  .lowertext p {
    font-size: 15px;
    line-height: 30px;
    word-spacing: 3px;
  }

  .text p {
    font-size: 40px;
  }
  .text span {
    font-size: 40px;
  }

  .counter {
    margin-left: 10px;
    margin-top: 30px;
  }

  .img1 {
    width: 255px;
    height: 324px;
    z-index: 4;
    right: 0;
    transform: translateY(-50%) scale(0.95);
  }
  .img2 {
    width: 253px;
    height: 277px;
    z-index: 3;
    right: 40px;
    transform: translateY(-50%) scale(0.9);
  }
  .img3 {
    width: 168px;
    height: 220px;
    z-index: 2;
    right: 80px;
    transform: translateX(-40%) translateY(-50%) scale(0.9);
  }
  .img4 {
    width: 142px;
    height: 182px;
    z-index: 1;
    right: 120px;
    transform: translateX(-50%) translateY(-50%) scale(0.85);
  }

  .cycle {
    width: 45px;
    height: 45px;
  }
}
