:root {
  --color-primary: #28a745;
  --color-secondary: #10411b;
  --color-complementry: #009eca;
  --color-text: #282828;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}


